* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.head__top {
    height: 1024px;
    background-image: url(image/top_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
}
.top__title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
}
.top__text {
    margin-top: 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    width: 481px;
}
.top__button {
    width: 234px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    margin-top: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: all .3s;
    &:hover {
        background: #EB443F;
    }
}
.catalog {
    background: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 31px;
}
.catalog__icon {
    display: flex;
    width: 378px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.catalog__img {
    position: relative;
    /* display: inline-block; */
    width: 378px;
    height: 300px;
    border-radius: 16px;
    transition: all .6s;
    &:hover {
        border: 3px solid #44D2FF;
    }
}
.catalog__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    position: absolute;
    padding-top: 236px;
    padding-left: 32px;
    /* z-index: 1; */
}
/* .catalog__title_text {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
} */

.game {
    background-color: #000915;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 32px;
        width: 584px;
    }
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
    &__button {
        padding-top: 13px;
        padding-left: 82px;
        // position: absolute;
        width: 234px;
        height: 48px;
        background: #9C0332;
        border-radius: 30px;
        // margin-top: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        transition: all .3s;
        text-decoration: none;
        &:hover {
            background: #EB443F;
        }
    }
    &__text {
        // margin-top: 32px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }
}

// .img__game {
//     width: 485px;
//     height: 333px;
//     padding-top: 233px;
//     padding-bottom: 233px;
// }

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .top__title {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        width: 100%;
    }
    .top__text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 343px;  
    }
    .top__button {
        margin-top: 32px;
    }
    .head__top {
        padding-top: 238px;
        height: 735px;
    }
    .catalog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
        align-content: center;
    }
    .catalog__icon {
        display: flex;
        width: 343px;
    }
    .catalog__img {
        width: 343px; 
    }
    .game {
        height: 654px;
        background-color: #000915;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // display: flex;
        // align-items: center;
        // flex-wrap: wrap;
        // justify-content: center;
    }
    .game__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .game__heading {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        width: 100%;
    }
    .game__text {
        margin-top: 0%;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 100%;
    }
    
    .img__game {
        width: 344px;
        height: 236px; 
    }
}
